<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cennavi.trafficsystem.roadsituation.web.model.MPointRtic">

	<resultMap id="BaseResultMap" type="com.cennavi.trafficsystem.roadsituation.web.model.MPointRtic">
		<result property="id" column="id" jdbcType = "INTEGER" />
		<result property="easyJamId" column="easy_jam_id" jdbcType = "INTEGER" />
		<result property="rticIds" column="rtic_ids" jdbcType = "VARCHAR" />
		<result property="createTime" column="create_time" jdbcType = "TIMESTAMP" />
	</resultMap>

	<sql id="querySql">
		SELECT
			a."id", 
			a."easy_jam_id", 
			a."rtic_ids", 
			a."create_time" 
		FROM
	</sql>

	<sql id="FromSql">
			m_point_rtic a 
	</sql>

	<insert id="insert" parameterType="java.util.HashMap">
		INSERT INTO m_point_rtic
		(
		<foreach item="value" index="key" collection="entity" separator=",">
			${key}
		</foreach>
		)VALUES(
		<foreach item="value" index="key" collection="entity" separator=",">
			#{value}
		</foreach>
		)
	 </insert>

	<update id="update" parameterType="java.util.HashMap">
		update m_point_rtic
		<set>
		<foreach item="value" index="key" collection="entity" separator=",">
			<if test="key!='ID'  and value!=null">${key}= #{value}</if>
		</foreach>
		</set>
			 where "ID" = #{id}
	 </update>

	<select id="queryList" parameterType="java.util.Map" resultMap="BaseResultMap">
		<include refid="querySql"/>
		<include refid="FromSql"/>
		<if test="queryFilterSql !='' and queryFilterSql!=null">
			WHERE ${queryFilterSql}
		 </if>
		<if test="sortSql !='' and sortSql!=null">
			 order by ${sortSql}
		 </if>
	</select>

	<select id="querySize" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			<include refid="FromSql"/>
		<if test="queryFilterSql !='' and queryFilterSql!=null">
			 WHERE ${queryFilterSql}
		 </if>
	</select>

	<select id="findById" parameterType="java.lang.String"
		resultType="com.cennavi.trafficsystem.roadsituation.web.model.MPointRtic">
			SELECT
			 *
			FROM
			m_point_rtic
		WHERE "ID" = #{id}
	</select>


</mapper>
