<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cennavi.trafficsystem.roadsituation.web.model.MTrafficRoadVideoEquipment">

	<resultMap id="BaseResultMap" type="com.cennavi.trafficsystem.roadsituation.web.model.MTrafficRoadVideoEquipment">
		<result property="id" column="ID" jdbcType = "VARCHAR" />
		<result property="roadId" column="ROAD_ID" jdbcType = "BIGINT" />
		<result property="cameraIndexCode" column="CAMERA_INDEX_CODE" jdbcType = "VARCHAR" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType = "TIMESTAMP" />
		<result property="createTime" column="CREATE_TIME" jdbcType = "TIMESTAMP" />
	</resultMap>

	<sql id="querySql">
		SELECT
			a."ID", 
			a."ROAD_ID", 
			a."CAMERA_INDEX_CODE", 
			a."UPDATE_TIME", 
			a."CREATE_TIME" 
		FROM
	</sql>

	<sql id="FromSql">
			m_traffic_road_video_equipment a 
	</sql>

	<insert id="insert" parameterType="java.util.HashMap">
		INSERT INTO m_traffic_road_video_equipment
		(
		<foreach item="value" index="key" collection="entity" separator=",">
			${key}
		</foreach>
		)VALUES(
		<foreach item="value" index="key" collection="entity" separator=",">
			#{value}
		</foreach>
		)
	 </insert>

	<update id="update" parameterType="java.util.HashMap">
		update m_traffic_road_video_equipment
		<set>
		<foreach item="value" index="key" collection="entity" separator=",">
			<if test="key!='ID'  and value!=null">${key}= #{value}</if>
		</foreach>
		</set>
			 where "ID" = #{id}
	 </update>

	<select id="queryList" parameterType="java.util.Map" resultMap="BaseResultMap">
		<include refid="querySql"/>
		<include refid="FromSql"/>
		<if test="queryFilterSql !='' and queryFilterSql!=null">
			WHERE ${queryFilterSql}
		 </if>
		<if test="sortSql !='' and sortSql!=null">
			 order by ${sortSql}
		 </if>
	</select>

	<select id="querySize" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			<include refid="FromSql"/>
		<if test="queryFilterSql !='' and queryFilterSql!=null">
			 WHERE ${queryFilterSql}
		 </if>
	</select>

	<select id="findById" parameterType="java.lang.String"
		resultType="com.cennavi.trafficsystem.roadsituation.web.model.MTrafficRoadVideoEquipment">
			SELECT
			 *
			FROM
			m_traffic_road_video_equipment
		WHERE "ID" = #{id}
	</select>


</mapper>
