<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cennavi.trafficsystem.roadsituation.web.model.PatternSpotRecord">

	<resultMap id="BaseResultMap" type="com.cennavi.trafficsystem.roadsituation.web.model.PatternSpotRecord">
		<result property="uuid" column="uuid" jdbcType = "VARCHAR" />
		<result property="geom" column="geom" jdbcType = "VARCHAR" />
		<result property="patternSpotArea" column="pattern_spot_area" jdbcType = "VARCHAR" />
		<result property="uploadVersionId" column="upload_version_id" jdbcType = "VARCHAR" />
		<result property="addDate" column="add_date" jdbcType = "TIMESTAMP" />
		<result property="delDate" column="del_date" jdbcType = "TIMESTAMP" />
		<result property="isDel" column="is_del" jdbcType = "INTEGER" />
		<result property="userId" column="user_id" jdbcType = "INTEGER" />
		<result property="userName" column="user_name" jdbcType = "VARCHAR" />
	</resultMap>

	<sql id="querySql">
		SELECT
			a."uuid",
			a."geom", 
			a."pattern_spot_area", 
			a."upload_version_id", 
			a."add_date", 
			a."del_date", 
			a."is_del", 
			a."user_id", 
			a."user_name" 
		FROM
	</sql>

	<sql id="FromSql">
			pattern_spot_record a 
	</sql>

	<insert id="insert" parameterType="java.util.HashMap">
		INSERT INTO pattern_spot_record
		(
		<foreach item="value" index="key" collection="entity" separator=",">
			${key}
		</foreach>
		)VALUES(
		<foreach item="value" index="key" collection="entity" separator=",">
			#{value}
		</foreach>
		)
	 </insert>

	<update id="update" parameterType="java.util.HashMap">
		update pattern_spot_record
		<set>
		<foreach item="value" index="key" collection="entity" separator=",">
			<if test="key!='ID'  and value!=null">${key}= #{value}</if>
		</foreach>
		</set>
			 where "ID" = #{id}
	 </update>

	<select id="queryList" parameterType="java.util.Map" resultMap="BaseResultMap">
		<include refid="querySql"/>
		<include refid="FromSql"/>
		<if test="queryFilterSql !='' and queryFilterSql!=null">
			WHERE ${queryFilterSql}
		 </if>
		<if test="sortSql !='' and sortSql!=null">
			 order by ${sortSql}
		 </if>
	</select>

	<select id="querySize" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			<include refid="FromSql"/>
		<if test="queryFilterSql !='' and queryFilterSql!=null">
			 WHERE ${queryFilterSql}
		 </if>
	</select>

	<select id="findById" parameterType="java.lang.String"
		resultType="com.cennavi.trafficsystem.roadsituation.web.model.PatternSpotRecord">
			SELECT
			 *
			FROM
			pattern_spot_record
		WHERE "ID" = #{id}
	</select>


</mapper>
